body {
    background-color: #00FFFF;
    font-family: "Cursive", sans-serif;
    color:#8B0000;
     line-height: 20pt;
     text-align:center;
}
body2{
    background-color: #00FFFF;
    font-family: "Cursive", sans-serif;
    color:#000000;
    line-height: 20pt;
    text-align:center;

}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}


span {
    font-family: Trebuchet MS,Lucida Grande,Lucida Sans Unicode,Lucida Sans,Tahoma,sans-serif;
    font-size: 20px;
    line-height: 1;
    color: #1364d6;
    background-color: #FFF8DC
}
